{% comment %}
Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

1. Head over to https://realfavicongenerator.net/ to add your own favicons.
2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
<style>
  /* #navbar {
    background-color: #60b3bf !important;
  } */

  body, .footer {
    background-color: #cfe2e6 !important;
  }

  .herobg {
    background: hsla(26, 70%, 68%, 1);
    background: linear-gradient(90deg, hsla(26, 70%, 68%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(26, 70%, 68%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(26, 70%, 68%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#e6a473", endColorstr="#ffffff", GradientType=1);
  }


  #navbar {
    position: sticky;
    top: -1px;
    background-color: #99d4dc;
    overflow: hidden;
    z-index: 1;
    /* border-style: solid; */
    /* border-width: 0px 0px 1px 0px; top right bottom left */
    border-bottom: 1px solid #000000;
    /* border-color: #f0c6a6; Adjust color as needed */
  }

  .post-item {
    background-color: #99d4dc;
  }

  .post-item>.message-body {
    border-color: #407780;
  }


  .footer {
    border-top: 2px dashed #407780;
  }
</style>