<!-- Pagination -->
<nav class="pagination" role="navigation" aria-label="pagination">
  {% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}
  <a href="{{ site.baseurl | append: '/' }}" class="pagination-previous button">Previous</a>
  {% else %}
  <a href="{{ site.baseurl | append: '/page/' | append: paginator.previous_page | append: '/' }}"
    class="pagination-previous button">Previous</a>
  {% endif %}
  {% else %}
  <span class="pagination-previous" disabled>Previous</span>
  {% endif %}

  {% if paginator.next_page %}
  <a href="{{ site.baseurl | append: '/page/' | append: paginator.next_page | append: '/' }}"
    class="pagination-next button">Next page</a>
  {% else %}
  <span class="pagination-next" disabled>Next page</span>
  {% endif %}

  <ul class="pagination-list">
    {% assign total_pages = paginator.total_pages %}
    {% assign current_page = paginator.page %}

    {% if total_pages < 5 %} {% for i in (1..total_pages) %} <li>
      {% if i == 1 %}
      {% assign page_url = site.baseurl | append: '/' %}
      {% else %}
      {% assign page_url = site.baseurl | append: '/page/' | append: i | append: '/' %}
      {% endif %}
      {% if i == current_page %}
      <a class="pagination-link button is-current" aria-label="Page {{ i }}" aria-current="page">{{ i }}</a>
      {% else %}
      <a href="{{ page_url }}" class="pagination-link button" aria-label="Goto page {{ i }}">{{ i }}</a>
      {% endif %}
      </li>
      {% endfor %}
      {% else %}
      {% for i in (1..3) %}
      <li>
        {% if i == 1 %}
        {% assign page_url = site.baseurl | append: '/' %}
        {% else %}
        {% assign page_url = site.baseurl | append: '/page/' | append: i | append: '/' %}
        {% endif %}
        {% if i == current_page %}
        <a class="pagination-link button is-current" aria-label="Page {{ i }}" aria-current="page">{{ i }}</a>
        {% else %}
        <a href="{{ page_url }}" class="pagination-link button" aria-label="Goto page {{ i }}">{{ i }}</a>
        {% endif %}
      </li>
      {% endfor %}

      <li>
        {% assign last_url = site.baseurl | append: '/page/' | append: total_pages | append: '/' %}
        {% if total_pages == current_page %}
        <a class="pagination-link button is-current" aria-label="Page {{ total_pages }}" aria-current="page">{{
          total_pages }}</a>
        {% else %}
        <a href="{{ last_url }}" class="pagination-link button" aria-label="Goto page {{ total_pages }}">{{ total_pages
          }}</a>
        {% endif %}
      </li>
      {% endif %}
  </ul>
</nav>