<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include bulma/head.html -%}

<body class="lg">

  <main class="container">
    <div class="m-4 notification is-warning is-light is-hidden">
      <button class="delete"></button>
      Primar lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum
      dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta
      nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus
      diam, et dictum <a>felis venenatis</a> efficitur.
    </div>
    {%- include bulma/header.html -%}
    <div class="container">
      <div class="content m-2">
        {% if page.layout == "bulma/home" %}
        <style>.content ul { list-style: disc outside; margin: 0; }</style>
        {% endif %}
        {{ content }}
      </div>
    </div>
  </main>

  {%- include bulma/footer.html -%}

  {%- include bulma/sub-footer.html -%}

  <section class="section">

    {% assign all_artists = "" | split: "," %}

    {% for post in site.posts %}
    {% if post.artist and post.artist != "" %}
    {% for artist in post.artist %}
    {% unless all_artists contains artist %}
    {% assign all_artists = all_artists | push: artist %}
    {% endunless %}
    {% endfor %}
    {% endif %}
    {% endfor %}

    <ul>
      {% for artist in all_artists %}
      <li><a href="/artists/{{ artist | slugify }}">{{ artist }}</a> ({{ site.posts | where_exp: "post", "post.artist
        contains artist" | size }})</li>
      {% endfor %}
    </ul>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        const $notification = $delete.parentNode;

        $delete.addEventListener('click', () => {
          $notification.parentNode.removeChild($notification);
        });
      });
    });
  </script>
</body>

</html>